<!--
    Launch multiple octomap nodes subscribing to different point cloud topics with varying noise parameters
    Save the octomap for offline computation
    Compute EDT from the saved octomaps
    Compare the distance values in the EDT
-->

<launch>

    <!-- launch the node that adds noise to the point cloud-->
    <node pkg="FastPlannerOctomap" type="pcNoise" name="pcNoise">
        <param name="noise" value="0.05"/>
        <remap from="output" to="output2"/>
    </node>




</launch>