<launch>

<!-- MAVROS -->	
<arg name="fcu_url" default="udp://:14540@127.0.0.1:14557" />
<arg name="gcs_url" default="" />
<arg name="tgt_system" default="1" />
<arg name="tgt_component" default="1" />
<arg name="log_output" default="screen" />
<arg name="fcu_protocol" default="v2.0" />
<arg name="respawn_mavros" default="false" />

<include file="$(find mavros)/launch/node.launch">
	<arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
	<arg name="config_yaml" value="$(find mavros)/launch/px4_config.yaml" />

	<arg name="fcu_url" value="$(arg fcu_url)" />
	<arg name="gcs_url" value="$(arg gcs_url)" />
	<arg name="tgt_system" value="$(arg tgt_system)" />
	<arg name="tgt_component" value="$(arg tgt_component)" />
	<arg name="log_output" value="$(arg log_output)" />
	<arg name="fcu_protocol" value="$(arg fcu_protocol)" />
	<arg name="respawn_mavros" default="$(arg respawn_mavros)" />
</include>


<!-- PCL Voxel Filter (Downsampling the point cloud)-->
<node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" />

  <!-- Run a VoxelGrid filter to clean NaNs and downsample the data -->
  <node pkg="nodelet" type="nodelet" name="voxel_grid" args="load pcl/VoxelGrid pcl_manager" output="screen">
    <remap from="~input" to="/camera/depth/points" />
    <rosparam>
      filter_field_name: z
      filter_limit_min: 0.01
      filter_limit_max: 15
      filter_limit_negative: False
      leaf_size: 0.10
    </rosparam>

    <rosparam>
      filter_field_name: x
      filter_limit_min: -3
      filter_limit_max: 3
      filter_limit_negative: False
      leaf_size: 0.10
    </rosparam>

    <rosparam>
      filter_field_name: y
      filter_limit_min: -3
      filter_limit_max: 3
      filter_limit_negative: False
      leaf_size: 0.10
    </rosparam>

</node>

<!-- Publish camera pose in world frame (read from EKF pose estimates and published over TF for octomap generation)-->
<node pkg="FastPlannerOctomap" type="pubCamPose" name="pubCamPose"/>


</launch>
